*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Century Gothic', sans-serif;
}

::placeholder {
  opacity: 0.4;
  font-size: 1.4rem;
}

/* *[lang=ar]{
  font-family: 'Dima';
}

[lang=en]{
  font-family: 'Century Gothic';
} */

/* import dima font regular with font face */

@font-face {
  font-family: 'Dima';
  src: url('./fonts/Dima Font Regular/Dima Font Regular.ttf');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/Century Gothic/CenturyGothic.ttf');
}