*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Century Gothic', sans-serif;
  /* outline: 1px solid red; */
  /* background-color: red; */
}

html {
  overflow-x: hidden;
}

::placeholder {
  opacity: 0.4;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  div {
    overflow: hidden;  
  }
}

/* .educate-carousel .rec-dot {
  display: none;
} */

@font-face {
  font-family: 'Dima';
  src: url('./fonts/Dima Font Regular/Dima Font Regular.ttf');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/Century Gothic/CenturyGothic.ttf');
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url('./fonts/Century Gothic/CenturyGothicBold.TTF');
}

.carousel-slide-style{
  display: flex;
  justify-content: center;
}