*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* *[lang=ar]{
  font-family: 'Dima';
}

[lang=en]{
  font-family: 'Century Gothic';
} */

/* import dima font regular with font face */

@font-face {
  font-family: 'Dima';
  src: local('./fonts/Dima-Regular.ttf');
}

@font-face {
  font-family: 'Century Gothic';
  src: url('./fonts/Century Gothic/CenturyGothic.ttf');
}